<script type="text/template" id="task-template">
  <%
    var priorityXRef = {
          "low": "success",
          "regular": "primary",
          "medium": "default",
          "high": "warning",
          "critical": "danger"
       };
    var priority = data.priority;
    priority = priorityXRef[priority];
  %>
  <div class="panel panel-<%= priority %> task-draggable" data-id="<%= data.id %>" data-kind="Task">
    <div class="panel-heading">
      <div class="panel-title">
        <%= data.title %>
      </div>
    </div>
  </div>
</script>
