<script type="text/template" id="task-template">
  <%
    console.log(data);
    var priorityXRef = {
          "low": "success",
          "regular": "primary",
          "medium": "default",
          "high": "warning",
          "critical": "danger"
       };
    var priority = data["[task][priority]"];
    priority = priorityXRef[priority];
  %>
  <div class="panel panel-<%= priority %>">
    <div class="panel-heading">
      <div class="panel-title">
        <%= data["[task][title]"] %>
      </div>
    </div>
  </div>
</script>
